<section class="section slide1 p-0" id="home">
    <div class="slider-area" id="slider-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2 text-md-center text-lg-left wow fadeInLeft content-margin" data-wow-duration="1.5s" data-wow-delay="1.2s">
                    <div class="area-heading text-center text-lg-left">
                        <h1 class="main-font text-white font-weight-bold mb-4">Hi I’m <span class="d-block text-red">Morris Douglas</span></h1>
                        <p class="text-white alt-font mb-5">Donec quis nunc mollis, tincidunt mi vel, pellentesque arcu. Nam nec tristique ex, vitae posuere enim. Nunc vulputate metus id ex pretium fermentum. </p>
                        <a href="#portfolio-area" class="scroll btn btn-medium btn-rounded btn-trans-white mb-5">My Work</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 image-order wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="1.2s">
                    <div class="slider-image">
                        <!-- <img src="https://cdn.pixabay.com/photo/2018/03/06/22/57/portrait-3204843_960_720.jpg" alt="Slider-Image"> -->
                        <img src="https://images.pexels.com/photos/2229671/pexels-photo-2229671.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slider-Image">
                    </div>
                </div>
            </div>
        </div>
        <!-- Author Skills -->
        <div class="author-skills bg-red">
            <div class="container">
                <div class="row text-center text-lg-left">
                    <!-- First Skill -->
                    <div class="col-12 col-md-4 about-media wow zoomIn" data-wow-duration="1.5s" data-wow-delay="1.2s">
                        <span class="about-icon"><a href="#"><i class="la la-laptop"></i></a></span>
                        <h4 class="small-heading main-font">Web Design</h4>
                        <p class="small-text alt-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.</p>
                    </div>
                    <!-- Second Skill -->
                    <div class="col-12 col-md-4 about-media wow zoomIn" data-wow-duration="1.5s" data-wow-delay="1.5s">
                        <span class="about-icon"><a href="#"><i class="las la-pen-fancy"></i></a></span>
                        <h4 class="small-heading main-font">Logo Designs</h4>
                        <p class="small-text alt-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.</p>
                    </div>
                    <!-- Third Skill -->
                    <div class="col-12 col-md-4 about-media wow zoomIn" data-wow-duration="1.5s" data-wow-delay="1.8s">
                        <span class="about-icon"><a href="#"><i class="las la-digital-tachograph"></i></a></span>
                        <h4 class="small-heading main-font">SEO Marketing</h4>
                        <p class="small-text alt-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>

.slider-area{
    height: 100vh;
}

.slider-area .content-margin {
    margin-bottom: 150px;
}

.slider-image {
    position: relative;
    margin: 0 auto 30px auto;
    top: 10px;
}

.slider-image img {
    top: -90px;
    width: 100%;
    position: relative;
}

.slider-area{
    align-items: center;
    display: flex;
    position: relative;
}

.area-heading h1 {
    font-size: 65px;
}

.area-heading p{
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
}

.author-skills .small-heading {
    font-size: 24px;
    font-weight: bold;
    margin: 6px 0 18px 0;
}

.author-skills .small-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}

.about-media {
    position: relative;
    overflow: hidden;
    vertical-align: bottom;
    transition: color .3s ease-out;
    z-index: 0;
    padding-top: 30px;
    padding-bottom: 50px;
}

.about-media::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 0px));
    width: 100%;
    height: 100%;
    background: #202020;
    transition: transform .25s ease-out;
}

.about-media:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
}

.about-media .about-icon i{
    color: #ffffff;
    font-size: 55px;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
    margin-bottom: 8px;
}

.about-media:hover .about-icon i{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}

.author-skills {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.author-skills .container {
    max-width: 1290px;
}
</style>