<!-- START SCROLL TOP -->
<div class="go-top"><i class="las la-arrow-up"></i><i class="las la-arrow-up"></i></div>
<!-- END SCROLL TOP -->

<!-- JavaScript -->
<script is:inline src="/vendor/js/bundle.min.js"></script>
<!-- Plugin Js -->
<script is:inline src="/vendor/js/jquery.appear.js"></script>
<script is:inline src="/vendor/js/owl.carousel.min.js"></script>
<script is:inline src="/vendor/js/wow.min.js"></script>
<script is:inline src="/vendor/js/jquery.fancybox.min.js"></script>

<!-- CUSTOM JS -->
<script is:inline src="/vendor/js/contact_us.js"></script>
<script is:inline src="/creative-designer/js/circle-progress.min.js"></script>
<script is:inline src="/creative-designer/js/script.js">
 import "@assets/js/menu.js";
</script>

