<section class="our-clients" id="testimonials">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="1.5s">
            <div class="col-12 text-center">
                <div class="heading-area">
                    <span class="sub-heading text-red alt-font mb-2">Awesome Reviews</span>
                    <h4 class="heading main-font">Happy Customers</h4>
                </div>
            </div>
            <div class="owl-testimonial owl-carousel owl-theme">
                <!-- Item-1 -->
                <div class="item">
                    <div class="testimonial-box">
                        <div class="quote_box">
                            <i class="fas fa-quote-right quote"></i>
                        </div>
                        <p class="info infot_margin text">Proin sagittis elementum odio, sed blandit sapien mattis sed. Mauris ut scelerisque risus. Donec pretium nulla ullamcorper sem maximus, et vulputate sem malesuada.</p>

                        <div class="testimonial_img">
                            <img src="https://megaone.acrothemes.com/creative-designer/images/testimonial1.png" alt="testimonial picture">
                        </div>
                        <div class="text1">
                            <p class="testimonial_name">David Raleway</p>
                            <p class="info text-red">Business</p>
                        </div>

                    </div>
                </div>
                <!-- Item-2 -->
                <div class="item">
                    <div class="testimonial-box">
                        <div class="quote_box">
                            <i class="fas fa-quote-right quote"></i>
                        </div>
                        <p class="text info infot_margin">Proin sagittis elementum odio, sed blandit sapien mattis sed. Mauris ut scelerisque risus. Donec pretium nulla ullamcorper sem maximus, et vulputate sem malesuada.</p>
                        <div class="testimonial_img">
                            <img src="https://megaone.acrothemes.com/creative-designer/images/testimonial2.png" alt="testimonial picture">
                        </div>
                        <div class="text1">
                            <p class="testimonial_name">Kate Marasisa</p>
                            <p class="info text-red">Illustrator</p>
                        </div>
                    </div>
                </div>
                <!-- Item-3 -->
                <div class="item">
                    <div class="testimonial-box">
                        <div class="quote_box">
                            <i class="fas fa-quote-right quote"></i>
                        </div>
                        <p class="text info infot_margin">Proin sagittis elementum odio, sed blandit sapien mattis sed. Mauris ut scelerisque risus. Donec pretium nulla ullamcorper sem maximus, et vulputate sem malesuada.</p>

                        <div class="testimonial_img">
                            <img src="creative-designer/images/testimonial3.png" alt="testimonial picture">
                        </div>
                        <div class="text1">
                            <p class="testimonial_name">Sam Billings</p>
                            <p class="info text-red">Business</p>
                        </div>

                    </div>
                </div>
                <!-- Item-4 -->
                <div class="item">
                    <div class="testimonial-box">
                        <div class="quote_box">
                            <i class="fas fa-quote-right quote"></i>
                        </div>
                        <p class="info infot_margin">Proin sagittis elementum odio, sed blandit sapien mattis sed. Mauris ut scelerisque risus. Donec pretium nulla ullamcorper sem maximus, et vulputate sem malesuada.</p>
                        <div class="testimonial_img">
                            <img src="creative-designer/images/testimonial1.png" alt="testimonial picture">
                        </div>
                        <div class="text1">
                            <p class="testimonial_name">Daniel Bryan</p>
                            <p class="info text-red">Illustrator</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    /* ===================================
      Testimonials Section
====================================== */

.testimonial_img{
    position: absolute;
    left: 35%;
    top: 60%;
}

.testimonial_img img{
    height: 100% !important;
    width: 100% !important;
}

.owl-testimonial{
    margin-top: 70px;
}

.client-data{
    position: absolute;
}

.testimonial-box{
    background: #202020;
    overflow: hidden;
    padding: 65px 45px 45px 45px;
    margin: 50px 10px 10px 10px;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    cursor: pointer;
    border-radius: 10px;
}

.owl-testimonial .owl-item.center .testimonial-box{
    background-color: #d43030;
}

.heading-area .sub-heading {
    font-size: 20px;
    font-weight: normal;
}

.heading-area .heading {
    font-size: 48px;
    font-weight: bold;
}

.owl-testimonial .center .quote_box{
    background-color: #202020;
}

.owl-testimonial .center .quote_box .quote{
    color: #FFFFFF;
}

.center .testimonial-box{
    color: #d43030;
    background-color: #d43030;
}

.center .testimonial-box:hover:before{
    opacity: 1 !important;
}

.center .testimonial-box .infot_margin {
    opacity: 1;
}

.owl-testimonial .center .testimonial-box:hover .quote{
    color: #ffffff;
}

.owl-testimonial .center .testimonial-box:hover .quote_box{
    background-color: #202020;
}

.margin-p{
    text-align: center;
}

.testimonial_img{
    position: absolute;
    left: 40%;
    top: 60%;
}

.testimonial_img img{
    height: 100% !important;
    width: 100% !important;
}

.quote{
    font-size: 30px;
    color: #ffffff;
}

.quote_box{
    border: 1px solid transparent;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background: #d43030;
    padding: 15px 10px 10px 14px;
    position: absolute;
    bottom: 83.5%;
    left: 43%
}

.infot_margin{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    position: relative;
    z-index: 999;
    color: #ffffff;
    opacity: .6;
}

.testimonial_name{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-weight: normal;
    letter-spacing: 0;
}

#testimonials .text1 .info {
    font-size: 18px;
    font-weight: 400;
    margin-top: 6px;
    font-family: Roboto, sans-serif;
}

#testimonials .text1{
    position: absolute;
    text-align: center;
    top: 84%;
    left: 35%;
}

#testimonials .item{
    padding-bottom: 120px ;
}

.owl-testimonial .owl-dots{
    margin-top: 40px !important;
}

.owl-testimonial .owl-dots .owl-dot.active span, .owl-testimonial .owl-dots .owl-dot:hover span{
    background: #d43030;
}

.owl-testimonial .owl-dots{
    display: flex;
    justify-content: center;
}

.owl-testimonial .owl-dots .owl-dot span {
    background: white;
    border: 2px solid #000000;
    font-size: 30px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
}

</style>