<section class="about-section" id="about">
    <div class="container">
       <div class="row no-gutters">
          <div class="col-lg-6 col-md-12 col-sm-12 order-2 order-lg-1 wow fadeInLeft" data-wow-delay="400ms">
             <div class="img-col">
                <img src="mental-health/img/about.png" alt="about-img">
             </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 order-1 order-lg-2 wow fadeInRight" data-wow-delay="400ms">
             <div class="text-col">
                <h5 class="subheading">Information about me</h5>
                <h2 class="heading">Dr. Teena Warrior</h2>
                <p class="text">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>
                <p class="text">
                   Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend.
                </p>
                <div class="button-center">
                   <a class="btn button btn-rounded white-btn btn-hvr-red scroll" href="#contact">
                   Book Appointment
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- Container End -->
 </section>