<section class="blog-section" id="blog">
    <div class="container">
       <div class="row no-gutters text-center">
          <div class="col-lg-12 col-md-12 col-sm-12 heading-col wow fadeInDown" data-wow-delay="400ms">
             <h5 class="subheading">Read Out Our</h5>
             <h2 class="heading">Latest Blogs</h2>
             <span class="small-line"></span>
             <span class="large-line"></span>
          </div>
       </div>
       <!-- Blogs row -->
       <div class="row blogs-row">
          <div class="col-lg-4 col-md-6 col-sm-12 img-blog wow fadeInLeft" data-wow-delay="400ms">
             <div class="card">
             <a  href="mental-health/standalone.html">
                <img src="mental-health/img/blog-1.jpg" alt="blog-1">
                <a class="card-body" href="mental-health/standalone.html">
                   <div class="author-img">
                      <img src="mental-health/img/author-1.png" alt="author-img">
                   </div>
                   <h5 class="heading">Blog Single Image Post</h5>
                   <ul>
                      <li>By Admin  .  </li>
                      <li>12 Mar, 2018  .  </li>
                      <li> in Web Design </li>
                   </ul>
                   <p class="text">Lorem Ipsum is simply dummy text of the rinting and typesetting industry. Lorem Ipsum has been the industry's standard dummy ...</p>
                </a>
             </a>
          </div>
             <div class="share-buttons">
                <ul>
                   <li><a class="buttons" href="#."><i class="fas fa-comment"></i> 25</a></li>
                   <li><a class="buttons" href="#."><i class="fas fa-heart"></i> 480</a></li>
                   <li><a class="buttons" href="#."><i class="fas fa-share"></i> SHARE</a></li>
                   <li><a class="buttons ml-3" href="#."> MORE</a></li>
                </ul>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 gallery-blog wow fadeInUp" data-wow-delay="400ms">
              <div class="card">
             <a  href="mental-health/standalone.html">
                <div class=" text-center blog-reviews-carousel owl-carousel owl-themes active">
                   <div class="item">
                      <img src="mental-health/img/blog-2.jpg" alt="blog-2">
                   </div>
                   <div class="item">
                      <img src="mental-health/img/blog-2.jpg" alt="blog-2">
                   </div>
                   <div class="item">
                      <img src="mental-health/img/blog-2.jpg" alt="blog-2">
                   </div>
                </div>
                <div class="icons">
                   <div class="left-customPrevBtn">
                      <i class="fas fa-long-arrow-alt-left customPrevBtn"></i>
                   </div>
                   <div class="right-customNextBtn">
                      <i class="fas fa-long-arrow-alt-right customNextBtn"></i>
                   </div>
                </div> 
                <a class="card-body" href="mental-health/standalone.html">
                   <div class="author-img">
                      <img src="mental-health/img/author-2.png" alt="author-img">
                   </div>
                   <h5 class="heading">Blog Image Gallery Post</h5>
                   <ul>
                      <li>By Admin  .  </li>
                      <li>12 Mar, 2018  .  </li>
                      <li> in Web Design </li>
                   </ul>
                   <p class="text">Lorem Ipsum is simply dummy text of the rinting and typesetting industry. Lorem Ipsum has been the industry's standard dummy ...</p>
                </a>
             </a>
          </div>
             <div class="share-buttons">
                <ul>
                   <li><a class="buttons" href="#."><i class="fas fa-comment"></i> 25</a></li>
                   <li><a class="buttons" href="#."><i class="fas fa-heart"></i> 480</a></li>
                   <li><a class="buttons" href="#."><i class="fas fa-share"></i> SHARE</a></li>
                   <li><a class="buttons ml-3" href="#."> MORE</a></li>
                </ul>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 video-blog wow fadeInRight" data-wow-delay="400ms">
             <div class="card">
                <a class="card" href="mental-health/standalone.html">
                <img src="mental-health/img/blog-3.jpg" alt="blog-3">
                <div class="video-icon">
                   <a data-fancybox="" class="play-button" href="https://www.youtube.com/watch?v=0aNNYEUARAk" >
                   <i class="fas fa-play"></i>
                   </a>
                </div>
                <a class="card-body" href="mental-health/standalone.html">
                   <div class="author-img">
                      <img src="mental-health/img/author-3.png" alt="author-img">
                   </div>
                   <h5 class="heading">Blog Video Post</h5>
                   <ul>
                      <li>By Admin  .  </li>
                      <li>12 Mar, 2018  .  </li>
                      <li> in Web Design </li>
                   </ul>
                   <p class="text">Lorem Ipsum is simply dummy text of the rinting and typesetting industry. Lorem Ipsum has been the industry's standard dummy ...</p>
                </a>
             </a>
             </div>
             <div class="share-buttons">
                <ul>
                   <li><a class="buttons" href="#."><i class="fas fa-comment"></i> 25</a></li>
                   <li><a class="buttons" href="#."><i class="fas fa-heart"></i> 480</a></li>
                   <li><a class="buttons" href="#."><i class="fas fa-share"></i> SHARE</a></li>
                   <li><a class="buttons ml-3" href="#."> MORE</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <!-- Container End -->
 </section>