<section class="contact-section" id="contact">
    <div class="container">
       <div class="row ">
       <div class="col-lg-6 col-md-12 col-sm-12 contact-info-sec wow fadeInLeft" data-wow-delay="400ms">
          <h5 class="subheading">Read Out Our</h5>
          <h2 class="heading">Let's Get in Touch</h2>
          <span class="small-line"></span>
             <span class="large-line"></span>
          <form class="contact-form" id="contact-form-data">
             <div class="row">
                <div class="col-12" id="result"></div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                   <div class="form-group">
                      <input class="form-control" type="email" placeholder="Name" required=""  name="userName">
                   </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                   <div class="form-group">
                      <input class="form-control" type="email" placeholder="Email" required=""  name="userEmail">
                   </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                   <div class="form-group">
                      <textarea class="form-control" placeholder="Message"  name="userMessage" rows="6" cols="50"></textarea>
                   </div>
                </div>
                <div class="button-center">
                   <a href="JavaScript:void(0);" class="btn button btn-rounded red-btn btn-hvr-blue contact_btn">contact Us</a>
                </div>
             </div>
          </form>
          <div class="address-section">
             <div class="row no-gutters">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                   <div class="media">
                      <i class="fas fa-map-marker-alt align-self-center mr-3"></i>
                      <div class="media-body">
                         <h5 class="subheading">Address :</h5>
                         <p class="text">Come visit us: 123 New Street, Our City , Australia.</p>
                      </div>
                   </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                   <div class="media">
                      <i class="fas fa-envelope align-self-center mr-3"></i>
                      <div class="media-body">
                         <h5 class="subheading">Email :</h5>
                         <p class="text">email@website.com </p>
                      </div>
                   </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                   <div class="media">
                      <i class="fas fa-phone align-self-center mr-3"></i>
                      <div class="media-body">
                         <h5 class="subheading">Phone :</h5>
                         <p class="text">002 01065370701</p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- Address-section End -->
       </div>
       <!-- Map section end -->
       <div class="col-lg-6 col-md-12 col-sm-12 map-section wow fadeInRight" data-wow-delay="400ms">
  <div class="mapouter">
                <div class="gmap_canvas" id="google-map">
                   <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13249.110799327349!2d151.2286337!3d-33.8825012!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc24335f142c0cf95!2sRoyal%20Hotel%20Paddington!5e0!3m2!1sen!2s!4v1604993513684!5m2!1sen!2s" width="600" height="715" style="border:0;" allowfullscreen=""></iframe>
                </div>
             </div>
       </div>
    </div>
 </div>
    <!-- Container end -->
 </section>