      <!-- Start Footer -->
      <footer class="no-gutters">
        <div class="container">
           <div class="row no-gutters">
                 <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInDown" data-wow-delay="400ms">
                 <p class="text">&copy; 2023 MegaOne. made with love by themesindustry</p>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 social-icons wow fadeInDown" data-wow-delay="400ms">
                 <ul>
                    <li><a class="facebook-hover wow fadeInUp" data-wow-delay="400ms" href="#.">
                       <i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li><a class="twitter-hover wow fadeInDown" data-wow-delay="400ms" href="#.">
                       <i class="fab fa-twitter"></i></a>
                    </li>
                    <li><a class="google-plus-hover wow fadeInUp" data-wow-delay="400ms" href="#.">
                       <i class="fab fa-google-plus-g"></i></a>
                    </li>
                    <li><a class="linked-in-hover wow fadeInDown" data-wow-delay="400ms" href="#.">
                       <i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li><a class="instagram-hover wow fadeInUp" data-wow-delay="400ms" href="#.">
                       <i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a class="gmail-hover wow fadeInDown" data-wow-delay="400ms" href="#.">
                       <i class="far fa-envelope"></i></a>
                    </li>
                 </ul>
              </div>
            
           </div>
        </div>
        <!-- Container End -->
     </footer>
     <!-- End Footer -->
        