<section class="portfolio-section" id="treatments">
    <div class="container">
       <div class="row no-gutters text-center">
          <div class="col-lg-12 col-md-12 col-sm-12 heading-col wow fadeInDown" data-wow-delay="400ms">
             <h2 class="heading">Mental Health Treatments</h2>
             <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in velit dolor. Vivamus gravida, neque nec interdum cursus, erat ligula.</p>
             <div class="nav nav-pills mb-4 mb-md-4 d-flex justify-content-center filtering">
                <span data-filter="*" class="pointer nav-link active is-checked">All</span>
                <span class="pointer nav-link" data-filter=".surgery">Surgery</span>
                <span class="pointer nav-link" data-filter=".clinical">Clinical</span>
                <span class="pointer nav-link" data-filter=".operations">Operations</span>
                <span class="pointer nav-link" data-filter=".patients">Patients</span>
             </div>
             <ul class="da-thumbs gallery">
                <li class="items surgery operations">
                   <img src="mental-health/img/portfolio-1.jpg" alt="img">
                      <a href="mental-health/img/portfolio-1.jpg" class="text-center" data-fancybox="images">                        
                   <div class="overlay">
                         <div class="text-icon">
                         <div class="search-icon"><i class="fa fa-search"></i> </div>
                         <h4 class="">Surgery</h4>
                      </div>
                   </div>
                      </a>
                </li>
                <li class="items clinical patients">
                   <img src="mental-health/img/portfolio-2.jpg" alt="img">
                      <a href="mental-health/img/portfolio-2.jpg" class="text-center" data-fancybox="images">
                   <div class="overlay">
                      <div class="text-icon">
                         <div class="search-icon"><i class="fa fa-search"></i> </div>
                         <h4 class="">Happy patient</h4>
                      </div>
                   </div>
                   </a>
                </li>
                <li class="items operations clinical">
                   <img src="mental-health/img/portfolio-3.jpg" alt="img">
                   <a href="mental-health/img/portfolio-3.jpg" class="text-center" data-fancybox="images">
                   <div class="overlay">
                         <div class="text-icon">
                         <div class="search-icon"><i class="fa fa-search"></i> </div>
                         <h4 class="">Clinical</h4>
                      </div>
                   </div>
                </a>
                </li>
                <li class="items patients operations">
                   <img src="mental-health/img/portfolio-4.jpg" alt="img">
                      <a href="mental-health/img/portfolio-4.jpg" class="text-center" data-fancybox="images">
                   <div class="overlay">
                      <div class="text-icon">
                         <div class="search-icon"><i class="fa fa-search"></i> </div>
                         <h4 class="">Clinical</h4>
                      </div>
                   </div>
                </a>
                </li>
                <li class="items surgery patients">
                   <img src="mental-health/img/portfolio-5.jpg" alt="img">
                      <a href="mental-health/img/portfolio-5.jpg" class="text-center" data-fancybox="images">
                   <div class="overlay">
                         <div class="text-icon">
                         <div class="search-icon"><i class="fa fa-search"></i> </div>
                         <h4>Patients</h4>
                      </div>
                      <!-- </a> -->
                   </div>
                </a>
                </li>
                <li class="items clinical surgery">
                   <img src="mental-health/img/portfolio-6.jpg" alt="img">
                     <a href="mental-health/img/portfolio-6.jpg" class="text-center" data-fancybox="images">
                   <div class="overlay">
                      <div class="text-icon">
                         <div class="search-icon"><i class="fa fa-search"></i> </div>
                         <h4>Operation</h4>
                      </div>
                   
                   </div>
                </a>
                </li>
             </ul>
          </div>
       </div>
    </div>

 </section>