<section class="reviews-section">
    <div class="container">
       <div class="carousel-section">
          <h2 class="heading text-center">Client Testimonials</h2>
          <div class=" text-center blog-reviews-carousel owl-carousel owl-themes active">
             <div class="item">
                <div class="testimonials">
                   
                   <p class="text ">We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you won’t receive a generic service and although we can’t boast years and years of service we can ensure you that is a good thing in this industry.   
                   </p>
                   <ul class="star-icons">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                   </ul>
                </div>
             </div>
             <div class="item active">
                <div class="testimonials">
                   <!-- <h2 class="heading">Client Testimonials</h2> -->
                   <p class="text">We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you won’t receive a generic service and although we can’t boast years and years of service we can ensure you that is a good thing in this industry.   
                   </p>
                   <ul class="star-icons">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                   </ul>
                </div>
             </div>
             <div class="item">
                <div class="testimonials">
                   <p class="text">We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you won’t receive a generic service and although we can’t boast years and years of service we can ensure you that is a good thing in this industry.   
                   </p>
                   <ul class="star-icons">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                   </ul>
                </div>
             </div>
          </div>
          <!-- Carousel End -->
          <div class="icons">
             <div class="left-customPrevBtn">
                <i class="fas fa-chevron-left customPrevBtn"></i>
             </div>
             <div class="right-customNextBtn">
                <i class="fas fa-chevron-right customNextBtn"></i>                     
             </div>
          </div>
       </div>
       <!-- Carousel Section End -->
    </div>
    <!-- Container -->
 </section>