---

import Header02 from '../components/mental-health/Header.astro'
import Footer from '../components/mental-health/Footer.astro'
---

<!DOCTYPE html>
<html lang="es_MX">
   <head>
      <!-- Meta Tags -->
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
      <!-- Author -->
      <meta name="author" content="iconmedios">
      <!-- description -->
      <meta name="description" content="Cuidados de enfermería especializados especialistas en geriatría. ">
      <!-- keywords -->
      <meta name="keywords" content="dializar, canalizar, aspiración de flemas, alimentación por sonda, curación de heridas, ayuda en terapias, verificación de signos vitales, colostomía, nebulizaciones y vaporizaciones, aplicación de inyecciones ">
      <!-- Page Title -->
      <title>Enfermeras y cuidadoras | Una caricia en el alma</title>
      <!-- Favicon -->
      <link rel="icon" href="/vendor/img/favicon-1.ico">
      <!-- Bundle -->
      <link rel="stylesheet" href="/vendor/css/bundle.min.css">
      <!-- Plugin Css -->
      <link rel="stylesheet" href="/vendor/css/jquery.fancybox.min.css">
      <link rel="stylesheet" href="/vendor/css/owl.carousel.min.css">
      <link rel="stylesheet" href="/vendor/css/swiper.min.css">
      <link rel="stylesheet" href="/vendor/css/cubeportfolio.min.css">
      <link rel="stylesheet" href="/vendor/css/LineIcons.min.css">
      <link rel="stylesheet" href="/vendor/css/wow.css">
      <!-- Style Sheet --> 
      <link rel="stylesheet" href="/vendor/css/select2.min.css">
      <link rel="stylesheet" href="/vendor/css/jquery-ui.bundle.css">
      <link rel="stylesheet" href="/mental-health/css/style.css">
   </head>
   <body data-offset="90" data-spy="scroll" data-target=".navbar">
      <!--Loader-->
      <div class="loader">
         <div class="loader-spinner"></div>
      </div>
      <Header02 />
      <slot></slot>
      <Footer />
         <!-- JavaScript -->
         <script is:inline src="/vendor/js/bundle.min.js"></script>
         <!-- Plugin Js -->
         <script is:inline src="/vendor/js/jquery.fancybox.min.js"></script>
         <script is:inline src="/vendor/js/owl.carousel.min.js"></script>
         <script is:inline src="/vendor/js/swiper.min.js"></script>
         <script is:inline src="/vendor/js/jquery.cubeportfolio.min.js"></script>
         <script is:inline src="/vendor/js/hover-item.js"></script>
         <script is:inline src="/vendor/js/jquery.appear.js"></script>
         <script is:inline src="/vendor/js/wow.min.js"></script>
         <!-- custom script -->
         <script is:inline src="/vendor/js/select2.min.js"></script>
         <script is:inline src="/vendor/js/jquery.hoverdir.js"></script>
         <script is:inline src="/vendor/js/jquery-ui.bundle.js"></script>
         <script is:inline src="/vendor/js/contact_us.js"></script>
         <!-- <script is:inline src="vendor/js/flip.js"></script> -->
         <script is:inline src="/mental-health/js/isotope.pkgd.js"></script>
         <script is:inline src="/mental-health/js/modernizr.custom.97074.js"></script>
         <script is:inline src="/mental-health/js/script.js"></script>
   </body>
</html>